html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    background-color: #2980b9;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 50px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
}

.flip-card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card.flip-card-clicked .flip-card-content {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #FF9F80;
    color: #000;
}

.flip-card-back {
    transform: rotateY(180deg);
}